@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme{
  --color-main-100: #131313ff;
  --color-main-10: #13131316;
  --color-main-70: #131313AA;
  --font-sora:"Sora", sans-serif;
  --font-inter:"Inter", sans-serif;
  --color-bground : #ffffff;
  --color-btn : #E7FE29;
}

#root {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
}

button{
  cursor: pointer;
}
